.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__links {
  color: #f4f4f4;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.hamburger-menu {
  display: none;
}

a {
  gap: 0.3rem;
  position: relative;

  &::after {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    height: 3px;
    width: 100%;
    opacity: 0;
    transition: 250ms ease;
  }

  &:hover::after {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .header {
    gap: 10rem;
    justify-content: space-around;
  }

  .nav__links {
    display: none;
  }

  .hamburger-menu {
    display: block;

    & img {
      height: 1.5rem;
      width: 2rem;
    }
  }
}
