img {
  object-fit: cover;
  height: 80vh;
  width: 100vw;
}

.banner__text {
  border: 2px solid #f4f4f4;
  color: #f4f4f4;
  position: absolute;
  padding: 2rem 3rem;
  top: 200px;
  left: 200px;
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
